@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is a simple web-app project <br />
        Built with Microsoft .NET 3.1 SDK</h2>
    <br />
    <h3>To begin, navigate to the <a asp-page="Restaurants/List">Restaurants page</a></h3>
    <br />
    <h4><details>
        <summary>Included features are:</summary>
        <p>- Restaurant search</p>
        <p>- Create, delete and edit restaurants </p>
        <p>- Drill in into each restaurant for more details</p>
    </details>
    </h4>
    <br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
